.cart-area {
    height: 600px;
    width: 45vw;
    margin-top: 1vh;
    border: black solid 1px;
    background-color: darkgrey;
}

.cart-title {
    text-align: center;
    font-weight: normal;
}

.cart-total {
    background-color: #959595;
    margin-right: 5%;
    margin-left: 5%;
}