.checkout-area {
    height: 60vh;
    width: 45vw;
    margin-top: 1vh;
    border: black solid 1px;
    background-color: darkgrey;
}

.checkout-title {
    text-align: center;
    font-weight: normal;
}